:root {
    /* === Cover / Landing area === */
    --cover-text-color: rgb(0, 48, 91);
    /* Used for Landing screen menu buttons, but potentially usable for highlighting other things */
    --highlight: #4f8abb;
    --highlight-contrast: var(--cover-text-color);
    /*iverse colors used for :hover */
    --highlight-inverse: var(--cover-text-color);
    --highlight-inverse-contrast: white;

    /* visual guard around title and description, when the feature is enabled */
    --cover-title-and-description-guard-bg-color: rgba(255, 255, 255, 0.6);
    --cover-title-text-shadow: white 0px 0px 7px;

    /* === sticky top/left navigation menus === */
    --sticky-menu-text-color: var(--highlight);

    /* === Alternating content (post) sections  === */
    /* Light section - text color */
    --section-light-text-color: #3a4145;
    /* Light section - background color */
    --section-light-bg-color: #cbcbcd;

    /* Dark section - text color */
    --section-dark-text-color: var(--section-light-bg-color);
    /* Dark section - background color */
    --section-dark-bg-color: rgb(0, 48, 91);

    /* Light&Dark section >quote. Supressive color, compared to 'Light section - text color'*/
    --section-uni-quote: grey;
    /* Light&Dark section `code` a bit darker than 'Light section - background color' */
    --section-uni-code-bg-color: #e0ded7;

    /* === Single pages=== */
    --single-page-text-color: var(--section-light-text-color);
    --single-page-bg-color: var(--section-light-bg-color);

    /* === Footer === */
    --footer-color-background: #22343a;
    --footer-color: #bbc7cc;

    /* === Lists === */
    /* define list element for unnumbered lists, leave empty for default list element */
    --ul-li-icon: fa-circle;
}

/* FIXME: This is not the right place for this! */

div.service-section {
    display: flex;
    flex-flow: row wrap;
}
div.service-section-item {
    background-color: white;
    flex: 1;
    min-width: 170px;

    border-radius: 1em;
    padding: 1em;
    margin: 0.5em;

    & img {
        margin: auto;
        border-radius: 1em;
    }

    & h3 {
        margin-top: 1em;
        font-size: 2.5rem;
        text-align: center;
    }

    & p {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

@media (min-width: 992px) {
    .post {
        max-width: 66.66% !important;
    }
}

iframe {
    border-radius: 1em;
}

article#client-showcase {
  & ul {
    display: flex;
    flex-flow: wrap;
    align-content: flex-start;
  }
  & li {
    flex: 1;
    margin: 1em;
    min-width: 147px;

    & span {
      display: none;
    }
  }
}
article#contact form {
  & input, & textarea {
    border-radius: .5rem;
    border-style: solid;
  }
}

p:has(a[href*="scam"]) {
  background: rgba(255, 0, 0, 0.4);
  padding: 5px;
  border: 5px solid red;
}



form.contact_form {
    // Form grid layout
    div.form-group.row {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
    }
    // Make the form inputs larger
    div.input-group{flex-grow: 3;min-width: 20em}
    textarea.form-control,input.form-control{box-sizing:border-box;width: 100%}
    textarea.form-control{min-height:8em}
    // Stop wrapping around the input icon
    div.input-group{white-space: nowrap}
    div.input-group-prepend{
        display: inline-block;width:1em;
        // and ensure the form input makes space for it
        + textarea.form-control, + input.form-control {width: calc(100% - 1.3em)}
        // Vertically align the variable width icons
        text-align: center;
    }
    // Make all the form labels have the same width
    label.col-form-label{min-width:5em;margin-right:2em;}
    // Align the submit button to the right
    div.input-group{text-align:end}
}
// hugo-scroll changes margins/etc at these widths, so it's a sensible size for us to mess with things if we have need to
// See responsiveness.css
@media only screen and (max-width:1130px) {
    form.contact_form {
        // Make the message input smaller by default
        textarea.form-control{min-height:6em}
        // Decrease the margin around the labels
        label.col-form-label{margin-right:1em}
    }
}
@media only screen and (max-width:500px) {
    form.contact_form {
        // Let the form inputs get even smaller
        div.input-group{min-width:2em}
        // Make the message input smallerer by default
        textarea.form-control{min-height:3em}
        // Remove the margin around the labels
        label.col-form-label{margin-right:unset}
        // Force form to be vertical on smaller screens
        // Workaround issues of the width actually **increasing** once the page margins changed
        div.form-group.row > * {flex-basis: 100%}
    }
}
